*build*
*.DS_Store*
*.env
node_modules
*secret*
*.osrm*
osrm/
.elasticbeanstalk/
*.zip
osrm-backend
*graphhopper/*
*graphhopper.*
*.idea
*graph-cache*
config.json
*.vscode
*map-matching*
*.output.json
*.log
.git
