*build*
*.DS_Store*
*.env*
*node_modules*
*secret*
*.osrm*
osrm/
.elasticbeanstalk/
*.zip
npm-debug.log
osrm-backend/*
*tcat-ny-us.zip*
*.idea*
*graph-cache*
config.json
*tcat-ny-us*
*.vscode*
*.output.json*
*.last-release.log*
*.log*
