PORT=3000
TOKEN=token
REGISTER_TOKEN=REGISTER_TOKEN
GHOPPER_BUS=localhost
GHOPPER_WALKING=localhost
MAP_MATCHING=localhost
PLACES_KEY=PLACES_KEY
CHRONICLE_ACCESS_KEY=CHRONICLE_ACCESS_KEY
CHRONICLE_SECRET_KEY=CHRONICLE_SECRET_KEY
NODE_ENV=production
RELEASE_URL=http://localhost:3001/
