PORT=3000
TOKEN=token
REGISTER_TOKEN=REGISTER_TOKEN
GHOPPER_BUS=localhost
GHOPPER_WALKING=localhost
MAP_MATCHING=localhost
PLACES_KEY=PLACES_KEY
RELEASE_COMMIT=9544ed27a0dfbe1f4daf23e339dcd0319a3b920f
RELEASE_PORT=3001
