{
  "swagger": "2.0",
  "info": {
    "description": "This is documentation for the ithaca-transit-backend API.",
    "version": "1.0.0",
    "title": "ithaca-transit-backend"
  },
  "host": "transit-backend.cornellappdev.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/alerts": {
      "get": {
        "summary": "Return a list of official TCAT alerts/messages",
        "description": "All response fields are optional. A list should be included in the app, and periodically updated.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: [Alert]}",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        }
      }
    },
    "/allStops": {
      "get": {
        "summary": "Return a list of TCAT bus stops to show as a possible start / end location.",
        "description": "A list of all 'BusStop's.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: [BusStop]}",
            "schema": {
              "$ref": "#/definitions/BusStop"
            }
          }
        }
      }
    },
    "/delay": {
      "get": {
        "summary": "Returns the bus delay for a bus at a specific stop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "stopID",
            "in": "query",
            "description": "ex. 1113",
            "required": true,
            "type": "string",
            "example": "\"1113\""
          },
          {
            "name": "tripID",
            "in": "query",
            "description": "ex. t536-b67-slB",
            "required": true,
            "type": "string",
            "example": "\"t536-b67-slB\""
          }
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: {delay: int64}}"
          }
        }
      }
    },
    "/v2/route": {
      "post": {
        "summary": "Return a list of the best available routes based on the passed-in parameters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The user's search query for a bus stop or place.\nstart: The starting point of the journey. (i.e. '<latitude: Double>, <longitude: Double>')\nend: The ending point of the journey. (i.e. '<latitude: Double>, <longitude: Double>')\ntime: The relevant time in the request. If `arriveBy` is false, departBy functionality is used, and `time` is when the journey should at earliest begin by.\narriveBy: Whether the request requires the route to arrive at the destination by time.\ndestinationName: The name of the destination of the trip.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "start",
                "end",
                "time",
                "arriveBy",
                "destinationName"
              ],
              "properties": {
                "end": {
                  "type": "string",
                  "example": "42.45322,-76.477264"
                },
                "uid": {
                  "type": "string",
                  "example": "B1CD4726-0CA8-41DC-A2F4-01D5D8F3A3E0"
                },
                "time": {
                  "type": "integer",
                  "example": 1582309886.406827
                },
                "destinationName": {
                  "type": "string",
                  "example": "Helen Newman Hall"
                },
                "start": {
                  "type": "string",
                  "example": "42.45070406588394,-76.49342862932777"
                },
                "arriveBy": {
                  "type": "boolean",
                  "example": false
                },
                "originName": {
                  "type": "string",
                  "example": "Current Location"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: {fromStop: [Route], boardingSoon: [Route], walking: [Route]}}",
            "schema": {
              "$ref": "#/definitions/Route"
            }
          }
        }
      }
    },
    "/multiroute": {
      "get": {
        "summary": "Returns the best available route for each destination specified from a single start location",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "The starting point of the journey.",
            "required": true,
            "type": "string",
            "format": "<latitude: Double>, <longitude: Double>"
          },
          {
            "name": "time",
            "in": "query",
            "description": "The relevant time in the request.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "An array of latitude-longitude strings to specify ending points. Must contain at least one ending point. Should be the same length as `destinationNames`.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "format": "['<latitude: Double>, <longitude: Double>']"
          },
          {
            "name": "destinationNames",
            "in": "query",
            "description": "Array of the names of the destinations. Must contain at least one name.",
            "required": true,
            "format": "['<destinationName: string>']",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: [Route]}",
            "schema": {
              "$ref": "#/definitions/Route"
            }
          }
        }
      }
    },
    "/routeSelected": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "routeId: The number of the bus route.\nuid: The user identifier.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "routeId",
                "uid"
              ],
              "properties": {
                "routeId": {
                  "type": "string"
                },
                "uid": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{success: true}"
          }
        }
      }
    },
    "/v2/appleSearch": {
      "post": {
        "summary": "Returns a list of bus stops and apple places autocomplete search results given a query string.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The user's search query for a bus stop or place.\nquery: The user's search query for a bus stop or place.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: [BusStop/ApplePlace]}",
            "schema": {
              "$ref": "#/definitions/BusStop"
            }
          },
          "x-also 200; also in data": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApplePlace"
            }
          }
        }
      }
    },
    "/tracking": {
      "post": {
        "summary": "Return a list information about live bus locations.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The user's search query for a bus stop or place.\n* stopID: The unique identifier for a bus stop.\n* routeID: The number of the bus route.\n* tripIdentifiers: The array of unique trip identifiers for the specific `routeID`.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "stopID",
                  "routeID",
                  "tripIdentifiers"
                ],
                "properties": {
                  "stopID": {
                    "type": "string",
                    "example": "1511"
                  },
                  "routeID": {
                    "type": "integer",
                    "example": "10"
                  },
                  "tripIdentifiers": {
                    "type": "string",
                    "example": "t536-b67-s1B"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{success: true, data: [BusLocation]}",
            "schema": {
              "$ref": "#/definitions/BusLocation"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Alert": {
      "type": "object",
      "properties": {
        "routes": {
          "type": "array",
          "description": "A list of route numbers affected by alert.",
          "items": {
            "type": "integer"
          }
        },
        "signs": {
          "type": "array",
          "description": "A list of ??? affected by the alert",
          "items": {
            "type": "integer"
          }
        },
        "toDate": {
          "type": "string",
          "description": "The last date that the alert begins taking effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "id": {
          "type": "integer",
          "example": 1194,
          "description": "The ID number of the alert."
        },
        "toTime": {
          "type": "string",
          "description": "The start time during the date range that the alert is in effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "message": {
          "type": "string",
          "description": "The message of the alert.",
          "example": "the 4:35 Route 53 from Green Street experienced a mecanical issue and is running late. The next route 53 will be on time."
        },
        "daysOfWeek": {
          "type": "string",
          "description": "A String enum representing a day of the week: Potential Return Values: [Every day, Weekend, Weekdays, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday]",
          "example": "Sunday"
        },
        "fromDate": {
          "type": "string",
          "description": "The first date that the alert begins taking effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "channelMessages": {
          "type": "array",
          "description": "A list of ChannelMessage objects.",
          "items": {
            "type": "object",
            "properties": {
              "ChannelId": {
                "type": "integer"
              },
              "Message": {
                "type": "string"
              }
            }
          }
        },
        "fromTime": {
          "type": "string",
          "description": "The start time during the date range that the alert is in effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "priority": {
          "type": "integer",
          "description": "Priority of the alert, from 0 (highest) to 3 (lowest). Potential Return Values: [0, 1, 2, 3]",
          "priority": 1
        }
      }
    },
    "BusLocation": {
      "type": "object",
      "properties": {
        "case": {
          "type": "string",
          "description": "‘noData’ - means the bus for the trip does not support live tracking. ‘validData’ - means we have all the proper tracking info. ‘invalidData’ - means the trip is too far in the future. No bus has been assigned it yet.",
          "example": "\"validData\""
        },
        "commStatus": {
          "type": "string",
          "description": "Unknown, some sort of communication status.",
          "example": "\"GOOD\""
        },
        "delay": {
          "type": "integer",
          "description": "delay in seconds",
          "example": "4"
        },
        "destination": {
          "type": "string",
          "description": "The final destination of the bus.",
          "example": "\"Cornell-Mall, Cornell-Downtown\""
        },
        "deviation": {
          "type": "integer",
          "description": "Unknown.",
          "example": "0, 1, 2"
        },
        "direction": {
          "type": "string",
          "example": "\"NB\""
        },
        "displayStatus": {
          "type": "string",
          "example": "\"On Time\""
        },
        "gpsStatus": {
          "type": "integer",
          "example": "2"
        },
        "heading": {
          "type": "integer",
          "example": "270"
        },
        "lastStop": {
          "type": "string",
          "example": "\"Vet School\""
        },
        "lastUpdated": {
          "type": "integer",
          "example": "1555441212000"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "example": "42.447507"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "example": "-76.467818"
        },
        "name": {
          "type": "string",
          "example": "\"1602\""
        },
        "opStatus": {
          "type": "string",
          "example": "\"ONTIME\""
        },
        "routeID": {
          "type": "integer",
          "example": "82"
        },
        "runID": {
          "type": "integer",
          "example": "5228"
        },
        "speed": {
          "type": "integer",
          "example": "23"
        },
        "tripID": {
          "type": "integer",
          "example": "1450"
        },
        "vehicleID": {
          "type": "integer",
          "example": "1602"
        }
      }
    },
    "BusStop": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "double",
          "description": "The latitude coordinate of the bus stop.",
          "example": 42.585087000000001
        },
        "long": {
          "type": "double",
          "description": "The longitude coordinate of the bus stop.",
          "example": -76.365729999999999
        },
        "type": {
          "type": "string",
          "only response": "\"busStop\"",
          "description": "This is just the string 'busStop'."
        },
        "name": {
          "type": "string",
          "description": "The name of the bus stop.",
          "example": "\"Cradit Farm @ Pleasant Grove\""
        }
      }
    },
    "Direction": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "startTime": {
          "description": "The starting time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
          "type": "string"
        },
        "endTime": {
          "description": "The ending time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
          "type": "string"
        },
        "startLocation": {
          "description": "The starting location associated with the direction.",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "format": "double"
            },
            "long": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "endLocation": {
          "description": "The ending location associated with the direction.",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "format": "double"
            },
            "long": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "path": {
          "description": "The corresponding path of the direction.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "long": {
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "distance": {
          "description": "The total distance of the direction (meters).",
          "type": "number",
          "format": "double"
        },
        "routeNumber": {
          "type": "integer",
          "description": "depart: The number representing the bus route. other: null."
        },
        "stops": {
          "type": "array",
          "description": "depart: An array of bus stop names that are passed, including the departure and arrival stop. other: Return [ ]",
          "items": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "long": {
                "type": "number",
                "format": "double"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          }
        },
        "stayOnBusForTransfer": {
          "type": "boolean",
          "description": "Whether the user should stay on the bus for an upcoming transfer. It is assumed the bus line number will become the next respective routeNumber in the next .depart Direction."
        },
        "tripIdentifiers": {
          "type": "array",
          "items": {
            "description": "The unique identifier(s) for the specific bus related to the direction. Only exists when type is .depart.",
            "type": "string"
          }
        },
        "delay": {
          "type": "integer",
          "description": "The bus delay for stops[0]. If delay is nil, means we don’t have delay information yet."
        }
      }
    },
    "ApplePlace": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "double",
          "description": "The latitude coordinate of the place.",
          "example": "42.441701090621599"
        },
        "long": {
          "type": "double",
          "description": "The longitude coordinate of the place.",
          "example": "-76.485410928726196"
        },
        "name": {
          "type": "string",
          "example": "Saigon Kitchen",
          "description": "The name of the place."
        },
        "detail": {
          "type": "string",
          "example": "College Ave, Ithaca, NY, United States",
          "description": "The address of the place."
        },
        "type": {
          "type": "string",
          "only response": "applePlace",
          "description": "This is just the string 'applePlace'."
        }
      }
    },
    "Route": {
      "type": "object",
      "properties": {
        "departureTime": {
          "type": "string",
          "description": "The time a user begins their journey (e.g. when to start walking).",
          "example": "2020-03-06T21:54:17Z"
        },
        "startName": {
          "type": "string",
          "description": "The name of the origin for this route.",
          "example": "Current Location"
        },
        "routeSummary": {
          "type": "array",
          "description": "A list of RouteSummaryElement objects.",
          "items": {
            "type": "object",
            "properties": {
              "stopName": {
                "description": "The current stopName at this point in the route.",
                "type": "string",
                "example": "Schwartz Performing Arts Center"
              },
              "direction": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "Either depart or walk.",
                    "type": "string",
                    "example": "depart"
                  },
                  "busNumber": {
                    "description": "If type is depart, this will be the busNumber of the current bus. Otherwise, this will be null.",
                    "type": "integer",
                    "example": 30
                  }
                }
              },
              "stayOnBusForTransfer": {
                "description": "Whether the user should stay on the bus for an upcoming transfer.",
                "type": "boolean",
                "example": "false"
              }
            }
          }
        },
        "startCoords": {
          "type": "object",
          "properties": {
            "lat": {
              "type": "double",
              "example": 42.44212461191496
            },
            "long": {
              "type": "double",
              "example": -76.48527391503616
            }
          }
        },
        "routeId": {
          "type": "string",
          "example": "ab05ad6e1a8facafad98"
        },
        "directions": {
          "type": "array",
          "description": "A list of Direction objects.",
          "items": {
            "type": "object",
            "properties": {
              "endLocation": {
                "description": "The ending location associated with the direction.",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "double",
                    "example": 42.44244491552811
                  },
                  "long": {
                    "type": "double",
                    "example": -76.4852889214148
                  }
                }
              },
              "tripIdentifiers": {
                "type": "array",
                "items": {
                  "description": "The unique identifier(s) for the specific bus related to the direction. Only exists when type is .depart.",
                  "type": "string"
                }
              },
              "stayOnBusForTransfer": {
                "type": "boolean",
                "description": "Whether the user should stay on the bus for an upcoming transfer. It is assumed the bus line number will become the next respective routeNumber in the next .depart Direction.",
                "example": "false"
              },
              "delay": {
                "type": "integer",
                "example": 1,
                "description": "In seconds. The bus delay for stops[0]. If delay is nil, means we don’t have delay information yet."
              },
              "startLocation": {
                "description": "The starting location associated with the direction.",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "double",
                    "example": "42.44212461191496"
                  },
                  "long": {
                    "type": "double",
                    "example": "-76.48527391503616"
                  }
                }
              },
              "routeNumber": {
                "type": "integer",
                "description": "depart: The number representing the bus route. other: null."
              },
              "path": {
                "description": "The corresponding path of the direction.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "double",
                      "example": "42.44212461191496"
                    },
                    "long": {
                      "type": "double",
                      "exzample": "-76.48527391503616"
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "example": "walk"
              },
              "stops": {
                "type": "array",
                "description": "depart: An array of bus stop names that are passed, including the departure and arrival stop. other: Return [ ]",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              },
              "endTime": {
                "description": "The ending time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
                "type": "string",
                "example": "2020-03-06T21:55:00Z"
              },
              "distance": {
                "description": "The total distance of the direction (meters).",
                "type": "double",
                "example": 35.63741707587268
              },
              "startTime": {
                "description": "The starting time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
                "type": "string",
                "example": "2020-03-06T21:54:17Z"
              },
              "name": {
                "type": "string",
                "example": "Schwartz Performing Arts Center"
              }
            }
          }
        },
        "boundingBox": {
          "type": "object",
          "properties": {
            "maxLong": {
              "type": "double",
              "example": -76.48513
            },
            "maxLat": {}
          }
        },
        "arrivalTime": {
          "type": "string",
          "description": "The time a user arrives at their destination."
        },
        "travelDistance": {
          "type": "number",
          "format": "double",
          "description": "The distance between start and end coords in miles."
        },
        "endName": {
          "type": "string",
          "description": "The name of the destination for this route."
        },
        "totalDuration": {
          "type": "number",
          "format": "int",
          "description": "The number of minutes between departureTime and arrivalTime"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}