{
  "swagger": "2.0",
  "info": {
    "description": "This is documentation for the ithaca-transit-backend API.",
    "version": "1.0.0",
    "title": "ithaca-transit-backend"
  },
  "host": "transit-backend.cornellappdev.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/alerts": {
      "get": {
        "summary": "Return a list of official TCAT alerts/messages",
        "description": "All response fields are optional. A list should be included in the app, and periodically updated.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": [Alert]}",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        }
      }
    },
    "/allStops": {
      "get": {
        "summary": "Return a list of TCAT bus stops to show as a possible start / end location.",
        "description": "A list of all 'BusStop's.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": [BusStop]}",
            "schema": {
              "$ref": "#/definitions/BusStop"
            }
          }
        }
      }
    },
    "/v2/delays": {
      "post": {
        "summary": "Return a list of bus delays for buses at a specific stop",
        "description": "Takes in a list of objects with fields routeID and trip ID and returns a list of objects with fields routeID, tripID, and delay.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The stop information to get the delay in seconds for. The request body has only one field, data, which is an array of objects with the following fields: \n* stopID: The unique bus stop identifier. \n* tripID: The unique trip identifier for the specific `routeID`.\n Ex. {\"data\": [{\"stopID\": string, \"tripID\": string}]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "stopId",
                  "tripId"
                ],
                "properties": {
                  "stopId": {
                    "type": "string",
                    "example": "2406"
                  },
                  "tripId": {
                    "type": "string",
                    "example": "t536-b67-s1B"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": [{\"tripId\": string, \"stopId\": string, \"delay\": int}]}"
          }
        }
      }
    },
    "/v3/delays": {
      "post": {
        "summary": "Return a list of bus delays for buses at a specific stop",
        "description": "Takes in a list of objects with fields routeId and tripId and returns a list of objects with fields routeId, tripId, and delay.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The stop information to get the delay in seconds for. The request body has only one field, data, which is an array of objects with the following fields: \n* stopId: The unique bus stop identifier. \n* tripID: The unique trip identifier for the specific `routeId`.\n Ex. {\"data\": [{\"stopId\": string, \"tripId\": string}]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "stopId",
                  "tripId"
                ],
                "properties": {
                  "stopId": {
                    "type": "string",
                    "example": "2406"
                  },
                  "tripId": {
                    "type": "string",
                    "example": "t536-b67-s1B"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": [{\"tripId\": string, \"stopId\": string, \"delay\": int}]}"
          }
        }
      }
    },
    "/v2/route": {
      "post": {
        "summary": "Return a list of the best available routes based on the passed-in parameters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The user's search query for a bus stop or place.\nstart: The starting point of the journey. (i.e. '<latitude: Double>, <longitude: Double>')\nend: The ending point of the journey. (i.e. '<latitude: Double>, <longitude: Double>')\ntime: The relevant time in the request. If `arriveBy` is false, departBy functionality is used, and `time` is when the journey should at earliest begin by.\narriveBy: Whether the request requires the route to arrive at the destination by time.\ndestinationName: The name of the destination of the trip.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "start",
                "end",
                "time",
                "arriveBy",
                "destinationName"
              ],
              "properties": {
                "end": {
                  "type": "string",
                  "example": "42.45322,-76.477264"
                },
                "uid": {
                  "type": "string",
                  "example": "B1CD4726-0CA8-41DC-A2F4-01D5D8F3A3E0"
                },
                "time": {
                  "type": "integer",
                  "example": 1582309886.406827
                },
                "destinationName": {
                  "type": "string",
                  "example": "Helen Newman Hall"
                },
                "start": {
                  "type": "string",
                  "example": "42.45070406588394,-76.49342862932777"
                },
                "arriveBy": {
                  "type": "boolean",
                  "example": false
                },
                "originName": {
                  "type": "string",
                  "example": "Current Location"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": {fromStop: [Route], boardingSoon: [Route], walking: [Route]}}",
            "schema": {
              "$ref": "#/definitions/Route"
            }
          }
        }
      }
    },
    "/v3/route": {
      "post": {
        "summary": "Return a list of the best available routes based on the passed-in parameters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The user's search query for a bus stop or place.\nstart: The starting point of the journey. (i.e. '<latitude: Double>, <longitude: Double>')\nend: The ending point of the journey. (i.e. '<latitude: Double>, <longitude: Double>')\ntime: The relevant time in the request. If `arriveBy` is false, departBy functionality is used, and `time` is when the journey should at earliest begin by.\narriveBy: Whether the request requires the route to arrive at the destination by time.\ndestinationName: The name of the destination of the trip.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "start",
                "end",
                "time",
                "arriveBy",
                "destinationName"
              ],
              "properties": {
                "end": {
                  "type": "string",
                  "example": "42.45322,-76.477264"
                },
                "uid": {
                  "type": "string",
                  "example": "B1CD4726-0CA8-41DC-A2F4-01D5D8F3A3E0"
                },
                "time": {
                  "type": "integer",
                  "example": 1582309886.406827
                },
                "destinationName": {
                  "type": "string",
                  "example": "Helen Newman Hall"
                },
                "start": {
                  "type": "string",
                  "example": "42.45070406588394,-76.49342862932777"
                },
                "arriveBy": {
                  "type": "boolean",
                  "example": false
                },
                "originName": {
                  "type": "string",
                  "example": "Current Location"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": {fromStop: [RouteV3], boardingSoon: [RouteV3], walking: [Route]}}",
            "schema": {
              "$ref": "#/definitions/Route"
            }
          }
        }
      }
    },
    "/v2/appleSearch": {
      "post": {
        "summary": "Returns a list of bus stops and apple places autocomplete search results given a query string.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The user's search query for a bus stop or place.\nquery: The user's search query for a bus stop or place.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "example": "Statl"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, data: [BusStop/ApplePlace]}",
            "schema": {
              "$ref": "#/definitions/BusStop"
            }
          },
          "x-also 200; also in data": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApplePlace"
            }
          }
        }
      }
    },
    "/v2/tracking": {
      "post": {
        "summary": "Return a list information about live bus information (to help draw buses on the map).",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The bus information to get the live location and other relevant vehicle data from. The request body has only one field, data, which is an array of objects with the following fields: \n* routeID: The number of the bus route. Note this corresponds to routeNumber from v2/route (v2/route has bad naming, so please stick with this in the meantime). \n* tripID: The unique trip identifier for the specific `routeID`.\n Ex. {\"data\": [{\"routeID\": integer, \"tripID\": string}]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "routeID",
                  "tripID"
                ],
                "properties": {
                  "routeID": {
                    "type": "integer",
                    "example": 10
                  },
                  "tripID": {
                    "type": "string",
                    "example": "t536-b67-s1B"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{\"success\": true, \"data\": [BusLocation]}",
            "schema": {
              "$ref": "#/definitions/BusLocation"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Alert": {
      "type": "object",
      "properties": {
        "routes": {
          "type": "array",
          "description": "A list of route numbers affected by alert.",
          "items": {
            "type": "integer"
          }
        },
        "signs": {
          "type": "array",
          "description": "A list of ??? affected by the alert",
          "items": {
            "type": "integer"
          }
        },
        "toDate": {
          "type": "string",
          "description": "The last date that the alert begins taking effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "id": {
          "type": "integer",
          "example": 1194,
          "description": "The ID number of the alert."
        },
        "toTime": {
          "type": "string",
          "description": "The start time during the date range that the alert is in effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "message": {
          "type": "string",
          "description": "The message of the alert.",
          "example": "the 4:35 Route 53 from Green Street experienced a mecanical issue and is running late. The next route 53 will be on time."
        },
        "daysOfWeek": {
          "type": "string",
          "description": "A String enum representing a day of the week: Potential Return Values: [Every day, Weekend, Weekdays, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday]",
          "example": "Sunday"
        },
        "fromDate": {
          "type": "string",
          "description": "The first date that the alert begins taking effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "channelMessages": {
          "type": "array",
          "description": "A list of ChannelMessage objects.",
          "items": {
            "type": "object",
            "properties": {
              "ChannelId": {
                "type": "integer"
              },
              "Message": {
                "type": "string"
              }
            }
          }
        },
        "fromTime": {
          "type": "string",
          "description": "The start time during the date range that the alert is in effect. UTC-formatted date string.",
          "example": "2018-04-10T04:00:00.000Z"
        },
        "priority": {
          "type": "integer",
          "description": "Priority of the alert, from 0 (highest) to 3 (lowest). Potential Return Values: [0, 1, 2, 3]",
          "priority": 1
        }
      }
    },
    "ApplePlace": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "double",
          "description": "The latitude coordinate of the place.",
          "example": "42.441701090621599"
        },
        "long": {
          "type": "double",
          "description": "The longitude coordinate of the place.",
          "example": "-76.485410928726196"
        },
        "name": {
          "type": "string",
          "example": "Saigon Kitchen",
          "description": "The name of the place."
        },
        "detail": {
          "type": "string",
          "example": "College Ave, Ithaca, NY, United States",
          "description": "The address of the place."
        },
        "type": {
          "type": "string",
          "example": "applePlace",
          "description": "This is just the string 'applePlace'."
        }
      }
    },
    "BusLocation": {
      "type": "object",
      "properties": {
        "bearing": {
          "type": "double",
          "example": 266.0
        },
        "congestionLevel": {
          "type": "integer",
          "example": 0
        },
        "lastUpdated": {
          "type": "integer",
          "example": 1599773185
        },
        "latitude": {
          "type": "double",
          "example": 42.459849543945
        },
        "longitude": {
          "type": "double",
          "example": -76.55484845435
        },
        "routeID": {
          "type": "integer",
          "example": 77
        },
        "speed": {
          "type": "double",
          "example": 9.834879875183105
        },
        "vehicleID": {
          "type": "integer",
          "example": 0
        },
        "tripID": {
          "type": "string",
          "example": "t677-b73-slF"
        }
      }
    },
    "BusStop": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "double",
          "description": "The latitude coordinate of the bus stop.",
          "example": 42.585087000000001
        },
        "long": {
          "type": "double",
          "description": "The longitude coordinate of the bus stop.",
          "example": -76.365729999999999
        },
        "type": {
          "type": "string",
          "example": "busStop",
          "description": "This is just the string 'busStop'."
        },
        "name": {
          "type": "string",
          "description": "The name of the bus stop.",
          "example": "Cradit Farm @ Pleasant Grove"
        }
      }
    },
    "Direction": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "startTime": {
          "description": "The starting time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
          "type": "string"
        },
        "endTime": {
          "description": "The ending time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
          "type": "string"
        },
        "startLocation": {
          "description": "The starting location associated with the direction.",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "format": "double"
            },
            "long": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "endLocation": {
          "description": "The ending location associated with the direction.",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "format": "double"
            },
            "long": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "path": {
          "description": "The corresponding path of the direction.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "long": {
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "distance": {
          "description": "The total distance of the direction (meters).",
          "type": "number",
          "format": "double"
        },
        "routeNumber": {
          "type": "integer",
          "description": "depart: The number representing the bus route. other: null."
        },
        "stops": {
          "type": "array",
          "description": "depart: An array of bus stop names that are passed, including the departure and arrival stop. other: Return [ ]",
          "items": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "long": {
                "type": "number",
                "format": "double"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          }
        },
        "stayOnBusForTransfer": {
          "type": "boolean",
          "description": "Whether the user should stay on the bus for an upcoming transfer. It is assumed the bus line number will become the next respective routeNumber in the next .depart Direction."
        },
        "tripIdentifiers": {
          "type": "array",
          "items": {
            "description": "The unique identifier(s) for the specific bus related to the direction. Only exists when type is .depart.",
            "type": "string"
          }
        },
        "delay": {
          "type": "integer",
          "description": "The bus delay for stops[0]. If delay is null, means we don’t have delay information yet."
        }
      }
    },
    "DirectionV3": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "startTime": {
          "description": "The starting time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
          "type": "string"
        },
        "endTime": {
          "description": "The ending time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
          "type": "string"
        },
        "startLocation": {
          "description": "The starting location associated with the direction.",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "format": "double"
            },
            "long": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "endLocation": {
          "description": "The ending location associated with the direction.",
          "type": "object",
          "properties": {
            "lat": {
              "type": "number",
              "format": "double"
            },
            "long": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "path": {
          "description": "The corresponding path of the direction.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "long": {
                "type": "number",
                "format": "double"
              }
            }
          }
        },
        "distance": {
          "description": "The total distance of the direction (meters).",
          "type": "number",
          "format": "double"
        },
        "routeId": {
          "type": "integer",
          "description": "depart: The number representing the bus route. other: null. Matches the General Transit Feed Specification (GTFS) RouteId."
        },
        "stops": {
          "type": "array",
          "description": "depart: An array of bus stop names that are passed, including the departure and arrival stop. other: Return [ ]",
          "items": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "long": {
                "type": "number",
                "format": "double"
              },
              "name": {
                "type": "string"
              },
              "stopId": {
                "type": "string",
                "description": "Matches the General Transit Feed Specification (GTFS) StopId.",
                "example": "911"
              }
            }
          }
        },
        "stayOnBusForTransfer": {
          "type": "boolean",
          "description": "Whether the user should stay on the bus for an upcoming transfer. It is assumed the bus line number will become the next respective routeNumber in the next .depart Direction."
        },
        "tripIdentifiers": {
          "type": "array",
          "items": {
            "description": "The unique identifier(s) for the specific bus related to the direction. Only exists when type is .depart.",
            "type": "string"
          }
        },
        "delay": {
          "type": "integer",
          "description": "The bus delay for stops[0]. If delay is null, means we don’t have delay information yet."
        }
      }
    },
    "Route": {
      "type": "object",
      "properties": {
        "departureTime": {
          "type": "string",
          "description": "The time a user begins their journey (e.g. when to start walking).",
          "example": "2020-03-06T21:54:17Z"
        },
        "startName": {
          "type": "string",
          "description": "The name of the origin for this route.",
          "example": "Current Location"
        },
        "routeSummary": {
          "type": "array",
          "description": "A list of RouteSummaryElement objects.",
          "items": {
            "type": "object",
            "properties": {
              "stopName": {
                "description": "The current stopName at this point in the route.",
                "type": "string",
                "example": "Schwartz Performing Arts Center"
              },
              "direction": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "Either depart or walk.",
                    "type": "string",
                    "example": "depart"
                  },
                  "busNumber": {
                    "description": "If type is depart, this will be the busNumber of the current bus. Otherwise, this will be null.",
                    "type": "integer",
                    "example": 30
                  }
                }
              },
              "stayOnBusForTransfer": {
                "description": "Whether the user should stay on the bus for an upcoming transfer.",
                "type": "boolean",
                "example": "false"
              }
            }
          }
        },
        "startCoords": {
          "type": "object",
          "properties": {
            "lat": {
              "type": "double",
              "example": 42.44212461191496
            },
            "long": {
              "type": "double",
              "example": -76.48527391503616
            }
          }
        },
        "routeId": {
          "type": "string",
          "example": "ab05ad6e1a8facafad98"
        },
        "directions": {
          "type": "array",
          "description": "A list of Direction objects.",
          "items": {
            "type": "object",
            "properties": {
              "endLocation": {
                "description": "The ending location associated with the direction.",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "double",
                    "example": 42.44244491552811
                  },
                  "long": {
                    "type": "double",
                    "example": -76.4852889214148
                  }
                }
              },
              "tripIdentifiers": {
                "type": "array",
                "items": {
                  "description": "The unique identifier(s) for the specific bus related to the direction. Only exists when type is .depart.",
                  "type": "string"
                }
              },
              "stayOnBusForTransfer": {
                "type": "boolean",
                "description": "Whether the user should stay on the bus for an upcoming transfer. It is assumed the bus line number will become the next respective routeNumber in the next .depart Direction.",
                "example": "false"
              },
              "delay": {
                "type": "integer",
                "example": 1,
                "description": "In seconds. The bus delay for stops[0]. If delay is null, means we don’t have delay information yet."
              },
              "startLocation": {
                "description": "The starting location associated with the direction.",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "double",
                    "example": "42.44212461191496"
                  },
                  "long": {
                    "type": "double",
                    "example": "-76.48527391503616"
                  }
                }
              },
              "routeNumber": {
                "type": "integer",
                "description": "depart: The number representing the bus route. other: null."
              },
              "path": {
                "description": "The corresponding path of the direction.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "double",
                      "example": "42.44212461191496"
                    },
                    "long": {
                      "type": "double",
                      "exzample": "-76.48527391503616"
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "example": "walk"
              },
              "stops": {
                "type": "array",
                "description": "depart: An array of bus stop names that are passed, including the departure and arrival stop. other: Return [ ]",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              },
              "endTime": {
                "description": "The ending time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
                "type": "string",
                "example": "2020-03-06T21:55:00Z"
              },
              "distance": {
                "description": "The total distance of the direction (meters).",
                "type": "double",
                "example": 35.63741707587268
              },
              "startTime": {
                "description": "The starting time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
                "type": "string",
                "example": "2020-03-06T21:54:17Z"
              },
              "name": {
                "type": "string",
                "example": "Schwartz Performing Arts Center"
              }
            }
          }
        },
        "boundingBox": {
          "type": "object",
          "properties": {
            "maxLong": {
              "type": "double",
              "example": -76.48513
            },
            "maxLat": {}
          }
        },
        "arrivalTime": {
          "type": "string",
          "description": "The time a user arrives at their destination."
        },
        "travelDistance": {
          "type": "number",
          "format": "double",
          "description": "The distance between start and end coords in miles."
        },
        "endName": {
          "type": "string",
          "description": "The name of the destination for this route."
        },
        "totalDuration": {
          "type": "number",
          "format": "int",
          "description": "The number of minutes between departureTime and arrivalTime"
        }
      }
    },
    "RouteV3": {
      "type": "object",
      "properties": {
        "departureTime": {
          "type": "string",
          "description": "The time a user begins their journey (e.g. when to start walking).",
          "example": "2020-03-06T21:54:17Z"
        },
        "startName": {
          "type": "string",
          "description": "The name of the origin for this route.",
          "example": "Current Location"
        },
        "startCoords": {
          "type": "object",
          "properties": {
            "lat": {
              "type": "double",
              "example": 42.44212461191496
            },
            "long": {
              "type": "double",
              "example": -76.48527391503616
            }
          }
        },
        "directions": {
          "type": "array",
          "description": "A list of Direction objects.",
          "items": {
            "type": "object",
            "properties": {
              "endLocation": {
                "description": "The ending location associated with the direction.",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "double",
                    "example": 42.44244491552811
                  },
                  "long": {
                    "type": "double",
                    "example": -76.4852889214148
                  }
                }
              },
              "routeId": {
                "type": "string",
                "description": "Matches the General Transit Feed Specification (GTFS) RouteId. The number representing the bus route. Note this is still a string! If there is no routeId, we return null.",
                "example": "43"
              },
              "tripIds": {
                "type": "array",
                "description": "Matches the General Transit Feed Specification (GTFS) TripId, except here it is an array of TripIds. If there are no tripIds we return [].",
                "items": {
                  "description": "The unique identifier(s) for the specific bus related to the direction. Only exists when type is .depart.",
                  "type": "string"
                }
              },
              "stayOnBusForTransfer": {
                "type": "boolean",
                "description": "Whether the user should stay on the bus for an upcoming transfer. It is assumed the bus line number will become the next respective routeNumber in the next .depart DirectionV3.",
                "example": "false"
              },
              "delay": {
                "type": "integer",
                "example": 1,
                "description": "In seconds. The bus delay for stops[0]. If delay is null, means we don’t have delay information yet."
              },
              "startLocation": {
                "description": "The starting location associated with the direction.",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "double",
                    "example": "42.44212461191496"
                  },
                  "long": {
                    "type": "double",
                    "example": "-76.48527391503616"
                  }
                }
              },
              "path": {
                "description": "The corresponding path of the direction.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "double",
                      "example": "42.44212461191496"
                    },
                    "long": {
                      "type": "double",
                      "exzample": "-76.48527391503616"
                    }
                  }
                }
              },
              "type": {
                "type": "string",
                "example": "walk"
              },
              "stops": {
                "type": "array",
                "description": "depart: An array of bus stop names that are passed, including the departure and arrival stop. other: Return [ ]",
                "items": {
                  "lat": {
                    "type": "double",
                    "example": "42.44212461191496"
                  },
                  "long": {
                    "type": "double",
                    "exzample": "-76.48527391503616"
                  },
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "stopId": {
                      "type": "string",
                      "description": "Matches the General Transit Feed Specification (GTFS) StopId.",
                      "example": "911"
                    }
                  }
                }
              },
              "endTime": {
                "description": "The ending time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
                "type": "string",
                "example": "2020-03-06T21:55:00Z"
              },
              "distance": {
                "description": "The total distance of the direction (meters).",
                "type": "double",
                "example": 35.63741707587268
              },
              "startTime": {
                "description": "The starting time (UTC) associated with the direction Format: \"yyyy-MM-dd'T'HH:mm:ssZZZZ",
                "type": "string",
                "example": "2020-03-06T21:54:17Z"
              },
              "name": {
                "type": "string",
                "example": "Schwartz Performing Arts Center"
              }
            }
          }
        },
        "boundingBox": {
          "type": "object",
          "properties": {
            "maxLong": {
              "type": "double",
              "example": -76.48513
            },
            "maxLat": {}
          }
        },
        "arrivalTime": {
          "type": "string",
          "description": "The time a user arrives at their destination."
        },
        "travelDistance": {
          "type": "number",
          "format": "double",
          "description": "The distance between start and end coords in miles."
        },
        "endName": {
          "type": "string",
          "description": "The name of the destination for this route."
        },
        "totalDuration": {
          "type": "number",
          "format": "int",
          "description": "The number of minutes between departureTime and arrivalTime"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}